/* aboutUs.css */

.about-us-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-right: 0px;
    
  }
  
  .about-us-image {
    max-width: 50%;
    border-radius: 8px; /* Opcional: Agrega bordes redondeados a la imagen */
  }
  
  .about-us-description {
    max-width: 40%;
    margin-right: 5%; /* Ajusta el margen izquierdo según tus preferencias */
    font-family: 'Georgia', serif; /* Cambia la fuente del texto */
    font-size: 20px; /* Tamaño de letra para el texto */
    line-height: 1.6; /* Altura de línea para mejorar la legibilidad */
    text-align: justify; /* Justifica el texto */
    color: #333; /* Color del texto */
  }
  
  .bienvenidos{
    display: flex;
    justify-content: center;
    color: rgb(27, 21, 21);
    font-size: 30px;
  }