/* jumbotron.css */

.jumbotron-container {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 70%;
}

.carousel-item {
  text-align: center;
}

.carousel-image {
  width: 100%;
  height: auto;
}

.jumbotron-text {
  text-align: center;
  padding: 20px;
}

.jumbotron-text h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.jumbotron-text p {
  font-size: 1.2em;
  color: #666;
}

.jumbotron-title {
  font-style: italic;
}